@model List<HumanAuthorsViewModel>

<table>
    <tr>
        <td>FirstName</td>
        <td>LastName</td>
        <td>NewsCounter</td>
    </tr>
    @foreach (HumanAuthorsViewModel human in Model)
    {
<tr>
    <td class="col-auto">
        <h5>@human.FirstName</h5>
    </td>
    <td class="col-auto">
        <h5>@human.LastName</h5>
    </td>
    <td class="col-auto">
        <h5>
            <a asp-controller="News" asp-action="NewsByAuthor" asp-route-authorid="@human.Id">@human.NewsCounter</a>
        </h5>
    </td>
</tr>
    }
</table>