@model AccountLoginViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor context
@{
    ViewData["Title"] = "Login";
}

<h3>Login</h3>
<form class="form-group" asp-controller="Account" asp-action="Login" asp-route-returnUri="@context.HttpContext.Request.Query["returnUri"].ToString()" method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Email"></label><br>
        <input asp-for="Email" /><br>
    </div>

    <div>
        <label asp-for="Password"></label><br>
        <input asp-for="Password" /><br>
    </div>

    <div>
        <input asp-for="SavePassword">
        <label asp-for="SavePassword">Remember me</label>
        <br>
    </div>

    <div>
        <button type="submit">Login</button>
    </div>
</form>