@using Microsoft.AspNetCore.Identity;
@model AccountRegisterViewModel

@{ 
    ViewData["Title"] = "Registration";
}

@{ 
    var error = ViewData["errors"] as IEnumerable<IdentityError>;
    if (error != null)
    {
        foreach (var err in error)
        {
           @err.Description<br/>;
            }
        }
    }

<h3>Registration</h3>

<form asp-controller="Account" asp-action="Register" method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Email"></label><br>
        <input asp-for="Email" /><br>
    </div>
    <div>
        <label asp-for="Password"></label><br>
        <input asp-for="Password" /><br>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label><br>
        <input asp-for="ConfirmPassword" /><br>
    </div>
    <div>
        <button type="submit">Create human</button>
    </div>
</form>