@{
    ViewData["Title"] = "Home Page";
}


    <div>
        <label class="font-weight-bold text-uppercase" id="header">Registration</label><br><br>

        <input id="sendmessage" type="button" value="Join chat" />
        <input id="messageTextInput" type="text" /><br />

        <ul id="chatMessages"></ul>

        <script src="~/js/chatstream.js"></script>
    </div>
